
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Chefs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">List</span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [routerLink]="['chefs']" class="nav-link" >
           List <span class="sr-only">(current)</span>
          </a>
          
        </li>
        <li class="nav-item">
          <a [routerLink]="['addchef']" class="nav-link" >
            Add Chef <span class="sr-only"></span>
           </a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>

     
  <h1 class="text-center"> {{title}} </h1>
  <div class = "container">
      <router-outlet></router-outlet>
  </div>
  
  
    <footer class="container  fixed-bottom" >

  
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>© 2021 Company, Inc. All rights reserved.</p>
    
      </div>
    </footer>
